@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 94%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: #fff;
    background-color: #000;
}

/*PAGE*/
section {
    width: 100%;
    height: 100vh;
    margin-left: 6.3%;
}

/*NAVBAR*/
#navbar {
    height: 100vh;
    width: 6%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(255, 111, 0);
}

#navbar a {
    padding: 20px;
    text-decoration: none;
    font-size: 2rem;
    color: #fff;
    width: 80%;
    text-align: center;
}

#navbar a:hover {
    background-color: #000;
    border-radius: 50%;
}

/*HOME*/
#welcome-section {
    background-position: center;
    width: 100%;
    height: 100vh;
    background-image: url(tree-g035a43aa4_1280.jpg);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#welcome-section h1 {
    font-size: 4rem;
    font-family: 'Nunito', sans-serif;
    padding-left: 5%;
}

.orange {
    color: rgb(255, 111, 0);
}


/*PROJECTS*/

.project {
    width: 94%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 3%;
}

.pr {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px auto;
    text-decoration: none;
}

.title {
    font-family: 'Nunito', sans-serif;
    color: #fff;
    text-align: center;
    width: 100%;
    padding: 20px;
}

/*SHOW MORE BUTTON*/
.showdiv {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.showbtn {
    font-family: 'Nunito', sans-serif;
    background-color: rgb(255, 111, 0);
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

#showmore {
    display: none;
    width: 94%;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 3%;
}

.arrow {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 20px;
}

/*PROJECT IMAGES*/
.project img {
    border: 3px solid rgb(255, 111, 0);
}

.op-img {
    width: 80%;
}

.gr-img {
    width: 95%;
}

.coo-img {
    width: 80%;
}

.chat-img {
    width: 80%;
}

.bing-img {
    width: 70%;
}

.calc-img {
    width: 50%;
}

.lo-img {
    width: 90%;
}

.pr-img {
    width: 80%;
}

.tr-img {
    width: 80%;
}

/*CONTACTS*/

#contact {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

#contact a {
    color: #fff;
    text-decoration: none;
    text-align: center;
}

#contact a i,
#contact a p {
    color: rgb(255, 111, 0);

}

/*MEDIA-QUERY*/
@media only screen and (max-width:600px) {
    #navbar {
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    #navbar a:hover {
        background: none;
    }


    #welcome-section {
        width: 100%;
        background-size: contain;
        background-image: url(Screenshot_20221122_130631.png);
        margin: 0;
    }

    #welcome-section h1 {
        font-size: 2rem;
        color: #fff;
    }

    .project {
        flex-direction: column;
    }

    .pr {
        width: 100%;
    }

    #contact {
        font-size: 1.5rem;
    }
}