@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 94%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: #fff;
    background-color: #000;
}

/*PAGE*/
section {
    width: 100%;
    height: 100vh;
    margin-left: 6.3%;
}

/*NAVBAR*/
#navbar {
    height: 100vh;
    width: 6%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(255, 111, 0);
}

#navbar a {
    padding: 20px;
    text-decoration: none;
    font-size: 2rem;
    color: #fff;
    width: 80%;
    text-align: center;
}

#navbar a:hover {
    background-color: #000;
    border-radius: 50%;
}

/*HOME*/
#welcome-section {
    background-position: center;
    width: 100%;
    height: 100vh;
    background-image: url(tree-g035a43aa4_1280.jpg);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#welcome-section h1 {
    font-size: 4rem;
    font-family: 'Nunito', sans-serif;
    padding-left: 5%;
}

.orange {
    color: rgb(255, 111, 0);
}


/*PROJECTS*/
.project {
    width: 94%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 3%;
}

.pr {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px auto;
    text-decoration: none;
    background-color: rgb(154, 199, 239);
    background: linear-gradient(180deg, rgb(154, 199, 239), #000, rgb(255, 111, 0));
    border-radius: 10%;
}

.title {
    font-family: 'Nunito', sans-serif;
    color: #fff;
    text-align: center;
    width: 100%;
    padding: 20px;
}


.showdiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.showbtn {
    font-family: 'Nunito', sans-serif;
    background-color: rgb(255, 111, 0);
    padding: 10px;
    border-radius: 5px;
}

/*PROJECT IMAGES*/
.op-img {
    width: 80%;
}

.gr-img {
    width: 95%;
}

.coo-img {
    width: 80%;
}

.calc-img {
    width: 35%;
}

/*CONTACTS*/